:root {
    /* Цвета */
    --dark-rgba: 51, 51, 51;
    --dark: #333;
    --primary-color: #4f46e5;
    --secondary-color: #22c55e;
    --text-color: #1f2937;
    --bg-color: #f9fafb;
    --error-color: #d83232;

    /* Размеры */
    --border-radius: 0.5rem;

    /* Шрифты */
    --font-main: "Inter", sans-serif;

    /* Анимация */
    --duration: 0.25s;
    --ease: linear;
}
