* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

html {
    font-size:rem(16);
    @include respond(xxl) {
        font-size: 0.8333vw;
    }
}

body {
    display: grid;
    grid-template-rows: 1fr;
    place-items: center;
}