.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: rem(24);
    padding-block: rem(8);
    padding-inline: rem(12);
    background-color: transparent;
    border: rem(1) solid var(--dark);
    border-radius: var(--border-radius);
    outline: 0;
    &--default {
    }
    &--size-m {
    }
    &:disabled {
        opacity: 0.5;
    }
}
